[tools]
bun = "1.3"
watchexec = "2"

[tasks.serve]
depends = "tidy"
run = "uvx python -m http.server"

[tasks.install-deps]
run = "bun install"

[tasks.fmt]
depends = ["install-deps"]
run = "bunx biome format --write"

[tasks.test]
depends = ["install-deps"]
run = "bunx vitest run --reporter verbose"

[tasks.lint]
depends = ["install-deps"]
run = "bunx biome lint"

[tasks.tidy]
run = "bunx biome check --write"
depends = [
    "install-deps",
    "fmt",
    "test",
    "lint"
]

[tasks.typecheck]
depends = ["install-deps"]
run = "bunx tsc --noEmit"

[tasks.qa]
depends = ["lint", "typecheck"]

[tasks.check]
depends = [
    "install-deps",
    "tidy",
    "lint",
    # "typecheck",
]
