[tools]
bun = "1.3"
watchexec = "2"

[tasks.serve]
depends = "tidy"
run = "uvx python -m http.server"

[tasks.fmt]
run = "bunx prettier . -w"

[tasks.test]
run = "bunx vitest run --environment jsdom --reporter verbose"

[tasks.tidy]
depends = [
"fmt",
"test"
]